.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

.logo {
    width: 200px;
    height: auto;
}

.nav ul li {
    display: inline-block;
    margin-left: 20px;
  }

  .nav-login {
    padding-left: 5px;
    text-decoration: none;
  }

  .nav-logout {
    padding-left: 5px;
    text-decoration: none;
  }